{{!-- {{#each this}}
<li class="item">
  <img src="https://image.tmdb.org/t/p/original{{backdrop_path}}" alt="{{title}} width="300">
  <h2>{{title}}</h2>
  <p>{{overview}}</p>
</li>
{{/each}} --}}

{{#each this}}
<li class="item">
  <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="{{title}} width="300">
  <h2>{{title}}</h2>
  <p>{{overview}}</p>
</li>
{{/each}}